---
layout: default
one-liner: "NO LONGER RUN BY RESIDENT ADVISOR*"
emoji: "💅"
background: "background-image: linear-gradient(to right,#30ace9 50%, #a846a7 50%)"
colour: "white"
---

{% assign current_date = 'now' | date: '%s' %}
<div class="content" style="{{site.posts.first.background | default: page.background}}; color:{{site.posts.first.colour | default: page.colour}}">
    {% include header.html %}

    <h2>up next</h2>
</div>

<!-- post the up next posts -->
{% for post in site.posts %}
    {% assign event_date = post.date | date: '%s' %}
    {% if event_date >= current_date %}
        <div class="content" style="{{post.background | default: page.background}}; color:{{post.colour | default: page.colour}}">
            {{ post }}
        </div>
    {% endif %}
{% endfor %}

<div class="content" style="{{site.posts.first.background}}; color:{{site.posts.first.colour}}">
    <p>*haha made you look :)</p>
</div>
