<p>with thanks to our artists</p>
<div id="artists">
</div>
<script>
    const artists = document.getElementById('artists');
    const artistList = [
        "Aleroj",
        "Angel D'lite",
        "Anna Morgan",
        "aya",
        "Ayy Den",
        "Blood of Aza",
        "Conor Thomas",
        "CRRDR",
        "d. clemente",
        "DJ Deep Heat",
        "DJ Flight",
        "DJ G2G",
        "DJ Netflex",
        "DJ Paypal",
        "DJ Soyboi",
        "DJ Spotify Playlist",
        "DJ Tinyhandz",
        "djlaundrybasket",
        "Evil DJ",
        "Exploited Body",
        "F.O.T.U",
        "Fat Camp",
        "FKA Hardcore",
        "Furious Styles",
        "Gracie T",
        "Himera",
        "I. JORDAN",
        "Jennifer Walton",
        "Keldiavlo",
        "Kilbourne",
        "Kontronatura",
        "LCY",
        "Myna",
        "Nova Cheq",
        "Phia Sky",
        "Poundshop",
        "Quest?onmarq",
        "Qwirk",
        "Salt Pillar",
        "Stolen Velour",
        "Tee",
        "This Guy",
        "umru",
        "xin",
        "Yazzus",
        "Ziúr",
    ];

    artists.innerHTML = '<p><span class="block">' + artistList.join(
        ',</span> <span class="block">'
    ) + ',</span> and the tough act residents association</p>';
</script>