<h2 class="merch-container no-bottom-margin" id="merch">merch</h2>
<div class="horizontal-container" style="width: auto; color: white;">
    <div class="merch-box" style="margin-right: 10px;">
        <img src="/img/merch/shirt.jpg" alt="I'D RATHER BE AT TOUGH ACT">
        <div style="padding: 1%;">
            <p style="font-size: 18px;line-height: 20px;">I'D RATHER BE AT TOUGH ACT</p>
            <p style="font-size: 18px;line-height: 20px;font-weight: 600;">£20.00</p>
            <a target="_blank" href="https://toughact.square.site/product/id-rather-be-at-tough-act/7?cs=true&cst=custom" class="link" style=" color: #ffffff; background-color: #62bdea; width: auto;">🥺 buy now 👉👈</a>
        </div>
        <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto">
    </div>

    <div class="merch-box" style="margin-left: 10px;">
        <img src="/img/merch/scarf.jpg" alt="PRIDE / SHAME SCARF" style="vertical-align: top;">
        <div style="padding: 1%;">
            <p style="font-size: 18px;line-height: 20px;">PRIDE / SHAME SCARF</p>
            <p style="font-size: 18px;line-height: 20px;font-weight: 600;">£30.00</p>
            <a target="_blank" href="https://toughact.square.site/product/pride-shame-scarf/9?cs=true&cst=custom" class="link" style=" color: #ffffff; background-color: #62bdea; width: auto;">🥺 buy now 👉👈</a>
        </div>
        <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto">
    </div>
</div>